<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="galih_cognitor_userpool" translate="label" sortOrder="10">
            <label>AWS Cognitor Userpool</label>
        </tab>
        <section id="galihcognitouser" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Hello World</label>
            <tab>galih_cognitor_userpool</tab>
            <resource>Galih_Cognitouser::acl_rule</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="aws_key" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>AWS Key</label>
                    <comment>This text will display on the frontend.</comment>
                </field>
                <field id="aws_secret_key" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>AWS Secret Key</label>
                    <comment>This text will display on the frontend.</comment>
                </field>
                <field id="aws_account_id" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>AWS Account ID</label>
                    <comment>This text will display on the frontend.</comment>
                </field>
                <field id="user_pool_id" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>User Pool ID</label>
                    <comment>This text will display on the frontend.</comment>
                </field>
                <field id="app_client_id" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>App Client ID</label>
                    <comment>This text will display on the frontend.</comment>
                </field>
                <field id="app_client_secret" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>App Client Secret</label>
                    <comment>This text will display on the frontend.</comment>
                </field>
            </group>
        </section>
    </system>
</config>